body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(120deg, #df2525, #4359d8);
    align-items: center;
    justify-content: center;
    display: flex;
}
.form-box{
    width: 350px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    padding: 5px 30px;
    overflow: hidden;
    margin: 0 auto;
    background: white;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px  9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    cursor: pointer;
    padding: 10px 30px;
    background: transparent;
    outline: none;
    border: 0;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(120deg,violet, blue);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
    text-align: center;
}
.social-icons span{
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: linear-gradient(120deg, #df2525, #4359d8);
}
.input-group{
    top: 140px;
    position: absolute;
    width: 290px;
    transition: .5s;
}
form .input-field{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}
.input-field input{
	width: 100%;
	height: 40px;
	padding: 0 5px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}
.input-field label{
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
.input-field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: #2691d9;
	transition: .5s;
}
.input-field input:focus ~label,
.input-field input:valid ~label{
	top: -5px;
	color: #2691d9;
	font-size: 14px;
}
.input-field input: ~span::before,
.input-field input: ~span::before{
	width: 100%;
}
.pass:hover{
text-decoration: underline;
}
input[type="submit"]{
	width: 100%;
	height: 50px;
	border: 1px solid;
	border-radius: 25px;
	font-size: 18px;
	color: white;
	background: linear-gradient(120deg,violet, blue);
	font-weight: 700;
	cursor: pointer;
	outline: none;
	margin-top: 5px;
}
input[type="submit"]:hover{
	border-color: #2691d9;
}
.signup_link{
	margin: 30px 0;
	text-align: center;
	font-size: 16px;
	color: #666666;
}
.signup_link a{
	color: #2691d6;
	text-decoration: none;
	padding-left: 5px;
}
.signup_link a:hover{
	text-decoration: underline;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}

